body {
    font-family: 'Source Sans Pro', sent-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.container-contacts {
    padding-left: 60px;
    padding-top: 60px;
}

.container_about {
    width: 900px;
    height: 192px;
    margin-bottom: 100px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-top: 0px;
    align-items: center
}

.wrapper_header {
    padding-bottom: 50px;
}

.navbar {
    height: 72px;
    background: #221F1F;
    color: #929292;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sent-serif;
    padding-right: 0;
    list-style: none;
    width: 100%;
    letter-spacing: -0.1em;
    font-size: 16px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 43%;
    list-style: none;
}

.nav-item {
    width: 7%;
    text-align: center;
}

.nav-item2 {
    width: 10%;
    text-align: center;
}

.nav-item3 {
    width: 17%;
    text-align: center;
}

.nav-item4 {
    width: 12%;
    text-align: center;
}

.nav-item5 {
    width: 8%;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #E7E7E7;
    font-family: 'Source Sans Pro', sent-serif;
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus {
    color: #88AC08;
    font-weight: normal;
    letter-spacing: -0.1em;
    font-style: normal;
    font-weight: 600;
}

.nav_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    margin-right: 10px;
}

.cart {
    margin-right: 7px;
    height: 26px;
}

.offer {
    background: #FCFCFC;
    box-shadow: 0px 0px 20px rgba(185, 185, 185, 0.4);
}

.title {
    font-family: 'Source Sans Pro', sent-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 140%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.title span {
    font-size: 59px;
}

.logo {
    margin-bottom: -2px;
    filter: drop-shadow(-7px 0px 7px #FFFFFF);
    padding-left: 14px;
}

.intro {
    margin-bottom: 40px;
    width: 350px;
    font-family: 'Source Sans Pro', sent-serif;
    font-size: 15px;
    line-height: 1.65em;
}

.btn {
    font-family: 'Source Sans Pro', sent-serif;
    font-size: 15px;
    background: #88AC08;
    color: white;
    display: block;
    width: 200px;
    height: 58px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 10px;
    font-weight: Bold;
}

.btn-shop {
    margin: 80px auto 0;
}

.btn-form {
    float: left;
    width: 20%;
    padding: 10px;
    background: #88AC08;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 52px;
}

.btn-form-seach {
    height: 44px;
    border: 1px solid grey;
}

.btn-form-contacts {
    border-radius: 10px;
    max-width: 30%;
    float: right;
    margin-right: 60px;
    font-size: 15px;
    padding-left: 32px;
    padding-right: 32px;
}

.btn:hover {
    background: #d9860e;
}

.desktop {
    width: 540px;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.shop {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    font-size: 30px;
    text-align: left;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 470px;
    border: 1px solid #C5C3C3;
    border-radius: 20px;
    background: #FCFCFC;
    margin-bottom: 30px;
    filter: drop-shadow(5px 5px 5px rgba(185, 185, 185, 0.25));
    display: flex;
    justify-content: space-between;
}

.card-contacts {
    width: 1110px;
    height: 252px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.card-about {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Source Sans Pro', sent-serif;
    list-style: none;
    width: 100%;
    color: black;
}

.card-title {
    margin-top: 348px;
    font-family: 'Source Sans Pro', sent-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 30px;
    width: 288px;
}

.card-text {
    font-size: 13px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #908A74;
    padding-left: 30px;
}

.card-price {
    font-size: 17px;
    color: #EC4A5E;
    padding-left: 30px;
}

.cta {
    float: right;
}

.card1 {
    background: url('../img/exlusive1.png') no-repeat top;
    background-position: 30px 30px;
}

.card2 {
    background: url('../img/exlusive2.png') no-repeat top;
    background-position: 30px 30px;
}

.card3 {
    background: url('../img/exlusive3.png') no-repeat top;
    background-position: 30px 30px;
}

.card4 {
    background: url('../img/exlusive4.png') no-repeat top;
    background-position: 30px 30px;
}

.card5 {
    background: url('../img/exlusive5.png') no-repeat top;
    background-position: 30px 30px;
}

.card6 {
    background: url('../img/exlusive6.png') no-repeat top;
    background-position: 30px 30px;
}

.contacts {
    background: #ecf3f8;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form {
    max-width: 340px;
    margin: 0px auto 0;
    /* сверху | горизонтально | снизу */
}

.form-seach {
    width: 20%;
    margin-right: 14px;
}

.form-contacts {
    max-width: 100%;
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.input {
    max-width: 80%;
    outline: none;
    border: 1px solid #bbbbbb;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 44px;
    padding-left: 20px;
    float: left;
}

.input-seach {
    width: 100%;
    border: 1px solid #88AC08;
}

.input_contacts {
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    height: 52px;
    padding-left: 20px;
    width: 100%;
    outline: none;
    margin-right: 10px;
}

.input:hover,
.input:active,
.input:focus {
    border: 1px solid #626262;
}

.input_contacts:hover,
.input_contacts:active,
.input_contacts:focus {
    border: 1px solid #626262;
}

.contacts {
    border: 1px solid #bbbbbb;
}

.about1 {
    width: 40%;
    margin-right: 70px;
}

.about2,
.about3,
.about4 {
    width: 17%;
    margin-top: -55px;
}

.about-logo {
    font-size: 45px;
    text-align: right;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.02em;
    margin-top: -12px;
}

.about-text {
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0.05em;
    margin-top: -8px;
}

.about-title {
    font-size: 45px;
}

.about-body {
    font-size: 17px;
    color: #C5C3C3;
    margin-top: -40px;
    margin-bottom: 95px;
}

.about-link {
    font-size: 17px;
    color: #000;
}

.about-link-right {
    margin-left: 40px;
}

.footer {
    padding: 25px 0;
    /* По вертикали | По горизонтали */
    background: #575757;
    color: white;
    font-size: 16px;
    font-family: 'Source Sans Pro', sent-serif;
    margin-inline-end: auto;
}

.footer_logo {
    font-family: 'Source Sans Pro', sent-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: white;
    margin-inline-end: auto;
}

.footer_socials {
    display: flex;
    align-items: center;
}

.footer_link {
    padding-left: 20px;
}

/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .desktop {
        width: 50%;
        height: 50%;
    }

    .wrapper {
        width: 100%;
    }

    .offer {
        width: 100%;
    }

    .cards {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card {
        margin-right: 30px;
    }

    .card-contacts {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        letter-spacing: -0.1em;
        font-size: 13px;
    }

    .navbar-nav {
        margin-left: -24px;
    }

    .card-contacts {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-form-contacts {
        text-align: center;
        padding-left: 1.4em;
    }

}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .navbar {
        height: 52px;
        font-size: 12px;
    }

    .navbar-nav {
        margin-left: -34px;
        width: 50%;
    }

    .wrapper {
        flex-direction: column;
    }

    .title {
        margin-top: 100px;
    }

    .offer {
        width: 100%;
    }

    .intro {
        width: auto;
    }

    .desktop {
        display: block;
        width: 549px;
        margin: 72px auto 0;
        margin-bottom: 100px
    }

    .logo {
        height: 24px;
    }

    .form-seach {
        width: 18%;
        display: flex;
    }

    .input-seach {
        width: 80%;
        height: 24px;
    }

    .btn-form-seach {
        max-width: 30px;
        height: 24px;
        align-items: center;
        padding-top: 5px;
    }

}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .desktop {
        width: 100%;
    }

    .navbar {
        font-size: 9px;
    }

    .btn {
        width: 100%;
    }

    .about-title {
        font-size: 30px;
        padding-top: 20px;
    }

    .about-body {
        font-size: 12px;
        margin-top: -20px;
        margin-bottom: 95px;
    }

    .about-link {
        font-size: 12px;
    }

    .cart {
        height: 16px;
    }

    .input {
        font-size: 8px;
    }

    .input_contacts {
        font-size: 8px;
    }

    .logo {
        height: 20px;
    }

    .input-seach {
        height: 20px;
    }

    .btn-form-seach {
        height: 20px;
        padding-top: 2px;
    }

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .about-body {
        font-size: 8px;
    }

    .about-link {
        font-size: 8px;
    }

    .card-contacts {
        width: 90%;
        padding-bottom: 50px;
    }

    .navbar {
        height: 42px;
        font-size: 7px;
    }

    .navbar-nav {
        width: 56%;
        margin-left: -38px;
    }

    .logo {
        height: 14px;
    }

    .input-seach {
        height: 14px;
    }

    .btn-form-seach {
        height: 14px;
    }

    .btn-form-contacts {
        font-size: 8px;
    }

}