/*Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .desktop {
        width: 50%;
        height: 50%;
    }

    .wrapper {
        width: 100%;
    }

    .offer {
        width: 100%;
    }

    .cards {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card {
        margin-right: 30px;
    }

    .card-contacts {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        letter-spacing: -0.1em;
        font-size: 13px;
    }

    .navbar-nav {
        margin-left: -24px;
    }

    .form-contacts__button {
        text-align: center;
        padding-left: 1.4em;
    }

}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .navbar {
        height: 52px;
        font-size: 12px;
    }

    .navbar-nav {
        margin-left: -34px;
        width: 50%;
    }

    .wrapper {
        flex-direction: column;
    }

    .title {
        margin-top: 100px;
    }

    .offer {
        width: 100%;
    }

    .intro {
        width: auto;
    }

    .desktop {
        display: block;
        width: 549px;
        margin: 72px auto 0;
        margin-bottom: 100px
    }

    .logo {
        height: 24px;
    }

    .form-search {
        width: 18%;
        display: flex;
    }

    .search__input {
        width: 80%;
        height: 24px;
    }

    .form-search__button {
        max-width: 30px;
        height: 24px;
        align-items: center;
        padding-top: 5px;
    }

}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .desktop {
        width: 100%;
    }

    .navbar {
        font-size: 9px;
    }

    .btn {
        width: 100%;
    }

    .about-title {
        font-size: 30px;
        padding-top: 20px;
    }

    .about-body {
        font-size: 12px;
        margin-top: -20px;
        margin-bottom: 95px;
    }

    .about-link {
        font-size: 12px;
    }

    .cart {
        height: 16px;
    }

    .search {
        font-size: 8px;
    }

    .form-contacts__input {
        font-size: 8px;
    }

    .logo {
        height: 20px;
    }

    .search__input {
        height: 20px;
    }

    .form-search__button {
        height: 20px;
        padding-top: 2px;
    }

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .container-contacts {
        padding-left: 0;
    }

    .title {
        font-size: 22px;
    }

    .form-search {
        width: 1%;
        margin-right: 0px;
    }

    .navbar {
        height: 36px;
        font-size: 7px;
    }

    .navbar-nav {
        width: 80%;
        margin-left: -34px;
    }

    .section-title {
        font-size: 26px;
    }

    .logo {
        height: 10px;
        padding-left: 5px;
    }

    .cart {
        height: 12px;
        margin-right: 5px;
    }

    .cards {
        display: flex;
        justify-content: space-between;
    }

    .card {
        max-width: 300px;
        height: 420px;
    }

    .card-contacts {
        width: 90%;
        padding-bottom: 35px;
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        background-position: 30px 30px;
        background-size: 240px;
        width: 100%;
    }

    .card-title {
        margin-top: 300px;
        font-size: 15px;
        width: 100%;
    }

    .cta {
        padding-right: 15px;
    }

    .form-contacts {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .form-contacts__input {
        margin: 0;
        margin-bottom: 10px;
    }

    .search__input {
        display: none;
    }

    .form-search__button {
        display: none;
    }

    .form-contacts__button {
        font-size: 8px;
        margin: 0;
        max-width: 100%;
        padding: 0;
    }

    .about1 {
        margin-right: 20px;
    }

    .about-logo {
        font-size: 24px;
        padding-top: 20px;
    }

    .about-text {
        font-size: 12px;
    }

    .about-title {
        font-size: 16px;
        padding-top: 50px;
    }

    .about-body {
        font-size: 8px;
        padding-top: 10px;
        margin-bottom: 85px;
    }

    .about-body2 {
        margin-bottom: 75px;
    }

    .about-link {
        font-size: 8px;
    }

    .about-link--right {
        margin-left: 0px;
    }

    .footer {
        font-size: 10px;
    }

    .footer__logo {
        font-size: 12px;
        text-align: center;
    }

    .footer__link {
        padding-left: 6px;
    }

}